In [1]:
def test(a,b):
    print(a+b)

In [2]:
test(3,4)

7

In [3]:
test(a=5,b=0)

5

In [4]:
test(b=8,a=8)

16

In [5]:
test("Muskan","Sinha")

MuskanSinha

In [6]:
## docstring is basically used to give information to user that what is the nature of fun ,what input it will take,what output it will give,how many arguments need to be passed.
## user can create docstring.
## shortcut for Docstring: press shift+tab inside function

In [7]:
##ex:
def test1(a,b):
    "this is my concatination fuction" ## here this is docstring "this is my concatination function"
    return a+b

In [8]:
test1(7,6)

13

In [9]:
## HOw to pass multiple patrameters in a fucntion

In [10]:
def test3(*a): ##using *a we can pass multiple number of arguments in the fucntion of any datatype
    return a

In [12]:
test3(2,3,5,"a")

(2, 3, 5, 'a')

In [13]:
test3(2,3,4,"a",[1,2,5],(476,657),{"key1":"Muskan"})

(2, 3, 4, 'a', [1, 2, 5], (476, 657), {'key1': 'Muskan'})

In [14]:
def test4(*MUskan):
    return MUskan

In [15]:
test4(67,90)

(67, 90)

In [21]:
def test5(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [22]:
test5(1,2,3,[686,877])

[1, 2, 3, [686, 877]]

In [18]:
test5

In [23]:
def test6(a,s,b,c,*m):
    return a,s,b,c,m

In [24]:
test6(2,3,4,5,6,7,8,9,9,9,[875687,87548])

(2, 3, 4, 5, (6, 7, 8, 9, 9, 9, [875687, 87548]))

In [25]:
def test7(*m,a,c,b):
    return m,a,c,b

In [26]:
test7(3,4,5,78,90,23,5,887,576,3897)

TypeError: test7() missing 3 required keyword-only arguments: 'a', 'c', and 'b'

In [28]:
test7(3,4,5,78,90,23,5,a=887,c=576,b=3897)

((3, 4, 5, 78, 90, 23, 5), 887, 576, 3897)

In [29]:
def test8(*m,a,c,b,*g):
    return m,a,c,b

SyntaxError: invalid syntax (2815147192.py, line 1)

In [30]:
## if want to pass any keyword as argument we will use keyword argumet **kwrgs(this name can be anything)
def test9(**muskan):
    return muskan

In [31]:
test9()## this will only take key value pair

{}

In [34]:
test9(a=0,b=8,c="mus",n=[23,56,78])

{'a': 0, 'b': 8, 'c': 'mus', 'n': [23, 56, 78]}

In [33]:
test9(a)## only key value pair

NameError: name 'a' is not defined

In [35]:
def test10(*s,**m):
    return s,m

In [36]:
test10(2323,45,23,67,85,54,657,6456,6546,a=212,b=6,c=89)

((2323, 45, 23, 67, 85, 54, 657, 6456, 6546), {'a': 212, 'b': 6, 'c': 89})

In [41]:
def test11(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n+i
    return n

In [42]:
test11(232,33)

265

In [48]:
def test12(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [49]:
test12(2,3,4)

24

In [50]:
## lambda functions(function without name or anonymous function or inline functions )
lambda a,b:a+b

In [51]:
n=lambda a,b:a+b

In [52]:
n(4,5)

9

In [53]:
## anonymous function: because there is no name of the function only the lambda keyword is there
## if u have any complex logic try to avoid lamda function

In [61]:
n= lambda*mus : mus

In [62]:
n(34,34,67,87,34)

(34, 34, 67, 87, 34)

In [63]:
t=(1,2,3,4,5)## tuple to list
l=[]
for i in t:
    l.append(i)

In [64]:
l

[1, 2, 3, 4, 5]

In [67]:
##conversion of tuple to list using list comprehension operation
[i for i in t]

[1, 2, 3, 4, 5]

In [68]:
s="muskan"
[i for i in s]

['m', 'u', 's', 'k', 'a', 'n']

In [71]:
[i*i for i in range(10)]## square of no from 1-10

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
l=[]
for i in range(10):
    l.append(i*i)

In [2]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
l=lambda *t:[i for i in t]## getting output in list using lambda

In [4]:
l(1,2,3,4,9)

[1, 2, 3, 4, 9]

In [5]:
l=lambda *t:[i*2 for i in t]

In [6]:
l(2,3,4,5)

[4, 6, 8, 10]

In [7]:
l=lambda *t:[i**2 for i in t]## getting suqare of the input

In [8]:
l(4,6,8,9,56)

[16, 36, 64, 81, 3136]

In [1]:
test14(a=7,b="sudh",c=345,d="sudh",l=[1,2,3,4,"sudh"])

NameError: name 'test14' is not defined

In [1]:
def test14(**kwargs):
    count=0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v)==str or type(v)==list:
            count += 1
    return count

In [2]:
test14(a=7,b="sudh",c=345,d="sudh",l=[1,2,3,4,"sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [1, 2, 3, 4, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [1, 2, 3, 4, 'sudh']])

3

In [3]:
def test15(**kwrgs):
    return list(kwrgs.values())## trying to convert values in list

In [4]:
test15(a=7,b="sudh",c=345,d="sudh",l=[1,2,3,4,"sudh"])

[7, 'sudh', 345, 'sudh', [1, 2, 3, 4, 'sudh']]

 Questions:
1.try to print prime numbers between 1 to 1000
2.Try to write a function which is equivalent to print fun in python
3.Try to write a function which is replica of list append,extend and pop fucntion
4.TRy to return a lamda function which will return the concatination of all the string that will be passed
5.Try to return lambda function which will return list of the square of all the data between 1-100
6.TRy to write 10 different lambda function of your choice.
7.Write a function which will read from .txt file.