In [1]:
1+1

2

In [2]:
1*2

2

In [3]:
type(1)

int

In [4]:
print(hello)

NameError: name 'hello' is not defined

In [5]:
print('HELLO')

HELLO

In [6]:
print("HELLo")

HELLo

In [7]:
type(bhjc2)

NameError: name 'bhjc2' is not defined

In [8]:
type(kkd)

NameError: name 'kkd' is not defined

In [9]:
type('2')

str

In [10]:
type(83648.8r7)

SyntaxError: invalid syntax (1620875300.py, line 1)

In [11]:
type(true)

NameError: name 'true' is not defined

In [12]:
type('true')

str

In [13]:
type(True)

bool

In [14]:
type(343.232)

float

In [27]:
a=30
b=40
print(a+b)
print(a%b)
print(a/b)
print((a*b)-(a%b))

70
30
0.75
1170

In [31]:
first_name='Muskan'
Last_name="Sinha"
print('My fisrt name is {} and my last name is {}'.format(first_name,Last_name))
print('My first name is {first} and my last name is {Last}'.format(first=Last_name,Last=first_name))

My fisrt name is Muskan and my last name is Sinha
My first name is Sinha and my last name is Muskan

In [32]:
len(jfjkdh)

NameError: name 'jfjkdh' is not defined

In [33]:
len("mus")

3

In [34]:
len(234)

TypeError: object of type 'int' has no len()

In [35]:
len([1,2,3])

3

In [36]:
type([1])

list

In [37]:
bool()

False

In [38]:
bool(true)

NameError: name 'true' is not defined

In [39]:
bool(True)

True

In [49]:
my_str="Muskan"
my_str.isnumeric()
my_str.istitle()
my_str.format()
my_str.count(my_str)
my_str.startswith("u")
my_str.title()

'Muskan'

In [50]:
True and True

True

In [51]:
False and True

False

In [52]:
True and False

False

In [53]:
False and False

False

In [54]:
True or True

True

In [58]:
False or True

True

In [56]:
True or False

True

In [57]:
False or False

False

In [63]:
str_first='Muskan'
str_second="234"
str_first.isalpha() and str_second.isnum()

AttributeError: 'str' object has no attribute 'isnum'

In [59]:
str_first.isAlpha() or str_second.isnum()

NameError: name 'str_first' is not defined

In [64]:
type({})

dict

In [65]:
type([])

list

In [66]:
type(<>)

SyntaxError: invalid syntax (1763399192.py, line 1)

In [67]:
list_example=[]
type(list_example)

list

In [76]:
list_exp=[1,2,3,4,'exm','puja',89.09,True]
type(list_exp)
len(list_exp)
list_exp.append('Mus')

In [77]:
list_exp.append('Mus')

In [78]:
list_exp.append(9)

In [79]:
list_exp=[1,2,3,4,'exm','puja',89.09,True]
list_exp.append("Muskan")

In [80]:
##Indexing in list
list_exp[5]

'puja'

In [81]:
list_exp[:]

[1, 2, 3, 4, 'exm', 'puja', 89.09, True, 'Muskan']

In [82]:
list_exp[1:]

[2, 3, 4, 'exm', 'puja', 89.09, True, 'Muskan']

In [83]:
list_exp[2:]

[3, 4, 'exm', 'puja', 89.09, True, 'Muskan']

In [84]:
list_exp[:1]

[1]

In [90]:
list_exp[2:7]
list_exp.insert(1,"Tue")

In [87]:
##Nested List
list_exp.append(["bala",767,897.09])
##output  will be like list_exp=[1,2,3,4,'exm','puja',89.09,True.'Muskan',["bala",767,897.09]]

In [ ]:
##insert function
## to add specific element in list at the particular position

In [92]:
list_exp.insert(1,"tue")

In [91]:
list_exp

[1,
 'Tue',
 'Tue',
 'tue',
 2,
 3,
 4,
 'exm',
 'puja',
 89.09,
 True,
 'Muskan',
 ['bala', 767, 897.09]]

In [93]:
lst=[1,2,3,4,5]
lst.extend([6,7,8])

In [94]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
##various operations that can be performed in List

In [95]:
sum(lst)

36

In [96]:
lst.pop()

8

In [97]:
lst.pop(2)

3

In [99]:
lst

[1, 2, 4, 5, 6, 7]

In [101]:
lst.count(2)

1

In [102]:
len(lst)

6

In [104]:
##index():returns the index of first occcurence.start and end index are not necessary parameters
lst.index(1,1,4)

ValueError: 1 is not in list

In [105]:
lst.index(4)

2

In [106]:
lst.index(4,0,4)

2

In [107]:
min(lst)

1

In [108]:
max(lst)

7

In [109]:
lst*2
##whole list will get appended twice

[1, 2, 4, 5, 6, 7, 1, 2, 4, 5, 6, 7]

In [ ]:
##Sets

In [ ]:
##A set is an unordered collection od datatype that is iterable, mutable and has no duplicate elements.
##Python's set class represents  the mathematical notations of set.
## this is based on data structure knowns as HASH table

In [111]:
## defining an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [112]:
set_var={1,2,3,4,3}

In [113]:
set_var

{1, 2, 3, 4}

In [117]:
set_var={"ironman","thor","avengers","thanos"}
print(set_var)
type(set_var)

{'thanos', 'avengers', 'thor', 'ironman'}

set

In [118]:
##inbuilt functions
##indexing=sets does not support indexing
set_var[0]

TypeError: 'set' object is not subscriptable

In [119]:
##add()
set_var.add('hULK')
set_var

{'avengers', 'hULK', 'ironman', 'thanos', 'thor'}

In [128]:
set1={'Ironman','Thor','captainamerica'}
set2={'Ironman','Thor','groot','captainamerica'}

In [137]:
set2.intersection(set1)

set()

In [132]:
##Difference
set2.difference(set1)
set1.difference(set2)

{'Ironman', 'captainamerica'}

In [130]:
set2={'groot','galaxy','Thor','Iron man','Hulk'}
type(set2)

set

In [131]:
set1={'Avengers',IronMan}

NameError: name 'IronMan' is not defined

In [138]:
set2.difference_update(set1)
set2

{'Hulk', 'Iron man', 'galaxy', 'groot'}

In [ ]:
##Dictionary
##Collection of data that is unordered, indexed and changeable
##In python dictionaries are written with curly brackets
##have key & value

In [140]:
dic={}
type(dic)

dict

In [141]:
set={}
type(set)

dict

In [143]:
dic={1,2,3,4}
type(dic).
type(dict())

SyntaxError: invalid syntax (922675012.py, line 2)

In [144]:
type(dict())##dict is an inbuilt function to create dictionary
##dict()-this will create an empty dictionary

dict

In [146]:
##manually creatring dictionary
my_dict={"car1":"Audi","car2":"BMW","car3":"Mercidies benz"}
## in dic indexing number is key name not the count
my_dict["car1"]

'Audi'

In [149]:
## we can even loop through dict keys
for a in my_dict:
    print(a)

car1
car2
car3

In [151]:
## we can loop through the values also
for a in my_dict.values():
    print(a)

Audi
BMW
Mercidies benz

In [152]:
##we van loop through both key and values
for a in my_dict.items():
    print(a)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidies benz')

In [153]:
##adding items in dict
my_dict["card4"]="Audi 2.0"

In [154]:
print(my_dict)

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies benz', 'card4': 'Audi 2.0'}

In [156]:
##overriddde any item in dict
my_dict["card1"]="Muskan"
print(my_dict)
my_dict["car1"]="Muskan"
print(my_dict)

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidies benz', 'card4': 'Audi 2.0', 'card1': 'Muskan'}
{'car1': 'Muskan', 'car2': 'BMW', 'car3': 'Mercidies benz', 'card4': 'Audi 2.0', 'card1': 'Muskan'}

In [ ]:
##Nested Dictionary

In [157]:
car1_model={"mercedez":1970}
car2_model={"Audi":1980}
car3_model={"BMW":1990}
car_type={"car1":car1_model,"car2":car2_model,"car3":car3_model}
print(car_type)

{'car1': {'mercedez': 1970}, 'car2': {'Audi': 1980}, 'car3': {'BMW': 1990}}

In [158]:
##accessing the items in the dictionary
print(car_type["car1"])

{'mercedez': 1970}

In [162]:
print(car_type["car2"][1980])

KeyError: 1980

In [164]:
print(car_type.values())

dict_values([{'mercedez': 1970}, {'Audi': 1980}, {'BMW': 1990}])

In [167]:
print(type(1,3))

TypeError: type() takes 1 or 3 arguments

In [168]:
type(())

tuple

In [169]:
type((1,2))

tuple

In [170]:
type({1,2})

set

In [171]:
type({"car1":"audi"})

dict

In [172]:
##Tuples
##create empty tuple
my_tuple=tuple()

In [173]:
type(my_tuple)

tuple

In [175]:
my_tuple=("Muskan","Shovinam","Anurag")
print(my_tuple)

('Muskan', 'Shovinam', 'Anurag')

In [176]:
my_tuple[0]

'Muskan'

In [177]:
print(type(my_tuple))

<class 'tuple'>

In [178]:
my_tuple[1]="Sinha"

TypeError: 'tuple' object does not support item assignment

In [179]:
my_tuple.count("Muskan")

1

In [182]:
my_tuple.index["Muskan"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [183]:
my_tuple.index("Muskan")

0

In [184]:
a=5
print("type os a is: ",type(a))

type os a is:  <class 'int'>

In [185]:
a=45.55
print("Type of a is :",type(a))

Type of a is : <class 'float'>

In [186]:
a=-2+3j
print("Type of a is :",type(a))

Type of a is : <class 'complex'>

In [188]:
str1='''Muskan
Sinha
Meena'''
print("\n"str1,type(str1))

SyntaxError: invalid syntax (131299813.py, line 4)

In [189]:
String1 = '''Geeks 
            For 
            Life'''
print("\nCreating a multiline String: ") 
print(String1)

Creating a multiline String:
Geeks
            For
            Life

In [192]:
string="Geeks for Geeks"
print("first character of the string ",string[5])
print("Last character of the string ",string[-1])

first character of the string
Last character of the string  s

In [193]:
##List with string
List=["MY name is Muskan"]
print(List)

['MY name is Muskan']

In [196]:
##List with multiple string
List=["a","b","c"]
print(List)
print(type(List))
print(List[0])

['a', 'b', 'c']
<class 'list'>
a

In [199]:
##Nested List
##or multidimensional list
List=[["Muskan"],["Sinha","Shovinam"]]
print(List)
print(type(List))

[['Muskan'], ['Sinha', 'Shovinam']]
<class 'list'>

In [200]:
##accessing list items
List=["Geeks for Geeks","Muskan",5,6,78.99]
print(List[1])

Muskan

In [206]:
print(List[-2])
List.count("Muskan")

6

1

In [207]:
##Tuple using string
tup=("a","b")
print("\nTuple with the use of string :")
print(tup)

Tuple with the use of string :
('a', 'b')

In [208]:
##Tuple with the use of List
list_=[1,2,3,"Mus"]
print("\nTuple with the use of list :")
print(tuple(list_))

Tuple with the use of list :
(1, 2, 3, 'Mus')

In [209]:
##creating tuple with built in function tuple
tup=tuple("Geeks")
print(tup)

('G', 'e', 'e', 'k', 's')

In [210]:
##Nested tuples
tup1=(1,2,3,"Musk")
tup2=(5,4)
tup3=(tup1,tup2)
print(tup3)

((1, 2, 3, 'Musk'), (5, 4))

In [212]:
##creating a set
set1={"Muska",1,2,34.87,"Mus"}
print(set1)

{1, 2, 34.87, 'Muska', 'Mus'}

In [213]:
set1=set{"musk",1}
print(set1)

SyntaxError: invalid syntax (1190519607.py, line 1)

In [217]:
set1 = set("GeeksForGeeks",4)
print(set1)

TypeError: 'dict' object is not callable