# LOOP

In [1]:
l=[1,2,3,4,"Muskan","a"]## to access each item automstically one by one

In [2]:
for i in l:
    print(i)

1
2
3
4
Muskan
a

In [3]:
for i in l:
    print(i+1)

2
3
4
5

TypeError: can only concatenate str (not "int") to str

In [6]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i) ==str:
        print(i+str(1))

2
3
4
5
Muskan1
a1

In [10]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [11]:
l1

[1, 2, 3, 4]

In [12]:
for i in l:
    print(l)

[1, 2, 3, 4, 'Muskan', 'a']
[1, 2, 3, 4, 'Muskan', 'a']
[1, 2, 3, 4, 'Muskan', 'a']
[1, 2, 3, 4, 'Muskan', 'a']
[1, 2, 3, 4, 'Muskan', 'a']
[1, 2, 3, 4, 'Muskan', 'a']

In [13]:
for i in l:
    pass## used when there is no body in for loop so that no error should come ## i is a local variable

In [14]:
s="Muskan"
for i in s:
    print(i)

M
u
s
k
a
n

In [15]:
for i in s:
    print(i)
else:
    print("if the for loop exhaust its self")

M
u
s
k
a
n
if the for loop exhaust its self

In [19]:
l=[1,2,3,4,5,"Muskan","a"]
for i in l:
    if i==4:
        break
    print(i)
else:
    print("if loop will automatically exhaust")

1
2
3

In [20]:
m="Muskan"
for i in m:
    print(i)

M
u
s
k
a
n

In [21]:
m="Muskan"
for i in m:
    if i=="n":
        break
    print(i)
else:
    print("string",s)

M
u
s
k
a

In [22]:
m="Muskan"
for i in m:
    if i=="l":
        break
    print(i)
else:
    print("string",s)

M
u
s
k
a
n
string Muskan

In [23]:
t=(1,2,4,"Muskan")
for i in t:
    print(i)

1
2
4
Muskan

In [24]:
s={1,2,3,4,"Muskan",7,8,9,9,9}
for i in s:
    print(i)

1
2
3
4
7
8
9
Muskan

In [25]:
d={"Key1":"Muskan","Contact":"Muskansinha@gmail.com","Position":"Software Engineer"}
for i in d:
    print(i)

Key1
Contact
Position

In [28]:
for i in d:
    print(d.values(i))

TypeError: dict.values() takes no arguments (1 given)

In [29]:
for i in d:
    print(d.values())

dict_values(['Muskan', 'Muskansinha@gmail.com', 'Software Engineer'])
dict_values(['Muskan', 'Muskansinha@gmail.com', 'Software Engineer'])
dict_values(['Muskan', 'Muskansinha@gmail.com', 'Software Engineer'])

In [30]:
range(9)## only object

range(0, 9)

In [31]:
list(range(9))## converting dataset into list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
for i in range(9):
    print(i)## iterating through each item

0
1
2
3
4
5
6
7
8

In [33]:
list(range(0:9:2))

SyntaxError: invalid syntax (1975130612.py, line 1)

In [34]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [35]:
list(range(0,9,-1))

[]

In [36]:
## range is in built function that is use to produce dataset at a point of time

In [38]:
n=4                                      ## 4 rows are there
for i in range(4):                       ##return (0,1,2,3)##outer loop will represents row
    for j in range(0,i+1):
        print("Musk",end=" ")            ## end is variable which is holding space
    print("\n")                          ## to change thge line

Musk

Musk Musk

Musk Musk Musk

Musk Musk Musk Musk

In [40]:
n=3
for i in range(3):
    for j in range(i,n-1):
        print(" "*len("Musk"),end=" ")
    for j in range(i+1):
        print("Musk",end=" ")
    for j in range(i):
        print("Musk",end=" ")
    print()

          Musk
     Musk Musk Musk
Musk Musk Musk Musk Musk

In [41]:
t=(1,2,3,4,5,6)
t[0]

1

In [45]:
for i in t:
    print(t.index(i))

0
1
2
3
4
5

In [48]:
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 3
3 4
4 5
5 6

In [50]:
i=0
for i in t:
    print(i,t[i])

1 2
2 3
3 4
4 5
5 6

IndexError: tuple index out of range

In [51]:
s="ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [52]:
for i in s:
    print(s.index[i])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [53]:
for i in s:
    print(s[i])

TypeError: string indices must be integers

In [56]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [55]:
for i in range(len(s)):
    print(i)

0
1
2
3
4
5
6

Reversing index as with element as well

In [60]:
for i in range(len(s),0,-1):
    print(i)
    ## here we can see its not starting from 0 index so we will take -1 as upper bound.
    ## we have only 0-6 index but its coming from 1 to 7 so we will remove 1 from length.
    ##-1 is to make reverse index
    ##so it will be like:

7
6
5
4
3
2
1

In [62]:
for i in range(len(s)-1,-1,-1):## perfect now
    print(i)

6
5
4
3
2
1
0

In [64]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [65]:
d

{'Key1': 'Muskan',
 'Contact': 'Muskansinha@gmail.com',
 'Position': 'Software Engineer'}

In [66]:
d.items()

dict_items([('Key1', 'Muskan'), ('Contact', 'Muskansinha@gmail.com'), ('Position', 'Software Engineer')])

In [69]:
for i in d.items():
    print(i,type(i),type(i[1]))## type of value i[1]

('Key1', 'Muskan') <class 'tuple'> <class 'str'>
('Contact', 'Muskansinha@gmail.com') <class 'tuple'> <class 'str'>
('Position', 'Software Engineer') <class 'tuple'> <class 'str'>

In [74]:
l=["Sudh","Kumar",653485,"muskansinha",674378,3442]## taking only numeric value to another list
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [75]:
l1

[653485, 674378, 3442]

In [80]:
d={1:8468,"name":"Musk","email":"muskansinha@gmail.com",53:"hjxhj",546:"674"}
for i in d:
    if type(i)==int:
     print(i,":",d[i])

1 : 8468
53 : hjxhj
546 : 674

In [85]:
s=("aaaabbbcccdd")
for i in s:
    print("a :",s.count("a"))
    print("b :",s.count("b"))
    print("c :",s.count("c"))
    print("d :",s.count("d"))
    
    break

a : 4
b : 3
c : 3
d : 2

In [86]:
s=("aaaabbbcccdd")
for i in s:
    print("a :",s.count("a"))
    print("b :",s.count("b"))
    print("c :",s.count("c"))
    print("d :",s.count("d"))
    
    break

a : 4
b : 3
c : 3
d : 2

In [87]:
s=("aaaabbbcccdd")
s1=set(s)

In [88]:
s1

{'a', 'b', 'c', 'd'}

In [89]:
for i in s1:
    print(i,":",s.count(i))

a : 4
c : 3
d : 2
b : 3

In [90]:
i=8735432846324
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [95]:
i1=str(i)

In [96]:
i1

'8735432846324'

In [99]:
for j in i1:
    print(int(j))

8
7
3
5
4
3
2
8
4
6
3
2
4

In [101]:
type(j)

str

In [107]:
t=("mus","kumae",[4,5,6],(1,2,3,4,5,3,3),{"key1":"hjfdsh","key2":"hjcfgdyf"})
for i in t:
    print(t[3][2])
    print(t[3][5])
    print(t[3][6])
    break

IndentationError: unexpected indent (1790059963.py, line 3)

In [109]:
t=("mus","kumae",[4,5,6],(1,2,3,4,5,3,3),{3:"hjfdsh","key2":"hjcfgdyf"})## fetching 3
for i in t:
    if type(i)==tuple or type(i)==list or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3
3

In [114]:
t=("mus","kumae",[4,5,6],(1,2,3,4,5,3,3),{3:3,"key2":"hjcfgdyf"})## fetching 3 from keys and values as well
for i in t:
    if type(i)== tuple or type(i)==list:
        for j in i:
            if j==3:
                print(j)
                
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3
3

In [116]:
d={4:5,"KEy1":"Musk","Key2":"Sinha"}
for i,j in d.items():
    print(i,j)

4 5
KEy1 Musk
Key2 Sinha